@model IEnumerable<WebMap.Models.ResourceViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";
}
@using (Html.BeginForm())
{

    @*Un seul bouton pour les deux recherches*@

}

<div class="row filter-row">
    <div class="col-sm-3 col-xs-6">
        <div class="form-group form-focus">
            <label class="control-label">Search</label>
            <input type="text"  id="search" placeholder="search" class="form-control floating" />
        </div>
    </div>
   
   
   
</div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped custom-table datatable">
                        <thead>
                            <tr>
                                <th> Name</th>
                                <th></th>
                                <th> @Html.DisplayNameFor(model => model.Email)</th>
                                <th>@Html.DisplayNameFor(model => model.BuissnesSector)</th>
                                <th>@Html.DisplayNameFor(model => model.Availability)</th>

                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="search">

                                    <td>
                                        <a ><img class="avatar" src="@Url.Content(item.PictureResource)" alt=""></a>
                                        <h2><a >@Html.DisplayFor(modelItem => item.FirstName)
                                    @Html.DisplayFor(modelItem => item.LastName)
                                    <span>@Html.DisplayFor(modelItem => item.Contrat)</span></a></h2>

                                    </td>
                                    <td>@Html.ActionLink("Profil", "Details", new { id = item.ID })</td>

                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    @{var i =  item.Availability; }
                                   
                                 
                                       
                                    
                                    <td>@Html.DisplayFor(modelItem => item.BuissnesSector)</td>
@if (i == DomainMap.Entities.TypeAvailability.Available)
{
                                    <td style="background-color:green"  >@Html.DisplayFor(modelItem => item.Availability )</td>

}
else {<td style="background-color:red" >@Html.DisplayFor(modelItem => item.Availability)</td>
                                    }
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                            <ul class="dropdown-menu pull-right">
                                                <li>@Html.ActionLink("Edit", "Edit", new { id = item.ID})</li>
                                                <li>@Html.ActionLink("Delete","Archive",new {id=item.ID })</li>
                                                <li><a href="#" data-toggle="modal" data-target="#edit_employee"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
                                                <li><a href="#" data-toggle="modal" data-target="#delete_employee"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>

                            }
                    </table>
                </div>
            </div>
        </div>

        
   
