@model  IdentityV2.Presentation.Models.TaskStatisticsVM

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";

}


<div class="row">

    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="dash-widget clearfix card-box">
            <span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
            <div class="dash-widget-info">
                <h3>@Html.DisplayFor(model => model.nnbTotalTasks)</h3>
                <span>Tasks</span>
            </div>
        </div>
    </div>


    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="dash-widget clearfix card-box">
            <span class="dash-widget-icon"><i class="fa fa-cubes" aria-hidden="true"></i></span>
            <div class="dash-widget-info">
                <h3>@Html.DisplayFor(model => model.nbrTaskToDo)</h3>
                <span>Task toDO</span>
                <br />
                |  @Html.ActionLink("More", "TaskPMToDOManager", "TaskPM")  |
            </div>
        </div>
    </div>





    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="dash-widget clearfix card-box">
            <span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
            <div class="dash-widget-info">
                <h3>@Html.DisplayFor(model => model.nbrTaskDoing)</h3>

                <span>Tasks Doing</span>
                <br />
                |  @Html.ActionLink("More", "TaskPMDoingManager", "TaskPM")  |

            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="dash-widget clearfix card-box">
            <span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
            <div class="dash-widget-info">
                <h3>@Html.DisplayFor(model => model.nbrTaskDone)</h3>

                <span>Tasks Done</span>
                <br />
                |  @Html.ActionLink("More", "TaskPMDoneManager", "TaskPM")  |

            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="dash-widget clearfix card-box">
            <span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
            <div class="dash-widget-info">
                <h3>@Html.DisplayFor(model => model.nbrTaskFinishEarly)</h3>
                <span>Tasks Finish before Deadline</span>
                <br />
                |
                @Html.ActionLink("More", "MoreInfoforManager", "TaskStatistics")  |

            </div>
        </div>
    </div>

</div>