@model IdentityV2.Presentation.Models.ProjectViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_MyTemplatepage.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>Projects</h4>
        <hr />

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateBegin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateBegin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateBegin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateEnd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateEnd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DateEnd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Picture, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.ValidationMessageFor(model => model.Picture, "", new { @class = "text-danger" })


                <input type="file" name="ImageFile" required />

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalNbrRessources, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalNbrRessources, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TotalNbrRessources, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>

            <br />
        </div>

    </div>
    <div class="staff-msg">
        <a onclick=show() class="btn btn-primary">Choose a Category</a>
    </div>
        <div class="form-group" id="attri" style="visibility: hidden">
            @Html.LabelFor(model => model.CatIdFK, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CatIdFK", (SelectList)ViewData["ListCat"])
                @Html.ValidationMessageFor(model => model.CatIdFK, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="staff-msg">
            <a onclick=show1() class="btn btn-primary">Choose a Member</a>
        </div>
        <br />

   


        <div class="form-group" id="att" style="visibility: hidden">
            @Html.LabelFor(model => model.User_Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("User_Id", (SelectList)ViewData["ListUsers"])
                @Html.ValidationMessageFor(model => model.User_Id, "", new { @class = "text-danger" })
            </div>
        </div>

        <br />
        <br />
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary  btn-block" />
            </div>
        </div>

       
    
        }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script>
 function show() {

                            var x = document.getElementById('attri');
                            x.style.visibility = 'visible';     // Show

 }


 function show1() {

     var x = document.getElementById('att');
     x.style.visibility = 'visible';     // Show

 }
</script>